.socialmedia{
        width: 300px;
        height: 100vh;
        border:lightgray 2px solid;
        border-radius: 5px;
        background-color:lightgrey;
        position: absolute;
        z-index: 9;
        margin-left: 555px;
        ul{
            display: flex;
            flex-direction: column;
            .cap{
                opacity: 0.5;
            }
        }
        ul>li:first-child{
            display: flex;
            margin-left: -30px;
            button{
                border:none;
                background-color: lightgrey;
                cursor: pointer;
            }
            h3{
                margin: 1px 5px 1px 0px;
            }
        }
    }
.hoursofoperations{
    width: 300px;
        height: 100vh;
        border:lightgray 2px solid;
        border-radius: 5px;
        background-color:lightgrey;
        position: absolute;
        z-index: 9;
        margin-left: 555px;
}
.statement{
    width: 300px;
        height: 100vh;
        border:lightgray 2px solid;
        border-radius: 5px;
        background-color:lightgrey;
        position: absolute;
        z-index: 9;
        margin-left: 555px;
        ul{
            display: flex;
            flex-direction: column;
           .title{
               display: flex;
               button{
                   border: none;
                   background-color: lightgrey;
               }
           }
            .box{
                width: 180px;
                height:140px;
                border-radius: 5px;
                border:1px black solid;
               padding: 5px;
               margin: 5px;
               div>.edit{
                   color:red;
                   margin-left: 100px;
               }
               div>.del{
                   color:red;
               }
            }
        }
}