

.popup{
    width: 300px;
    height: 100%;
    border:lightgray 2px solid;
    border-radius: 5px;
    background-color:lightgrey;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 9;
    margin-left: 555px;
    .box>ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li{
         border: 2px black solid ;
         margin: 10px;
         width: 230px;
         height: 110px;
         border-radius: 5px;
         input{
             margin:-50px 0px 3px 0px;
         }
         .block{
             display: flex;
             margin-bottom: -10px;
             button{
                 width: auto;
                 color:red;
                 background-color: lightgrey;
                 .del{
                     padding-left:30px;
                 }
             }

         }
        }
       
    }
    .box{
        button{
            background-color: tomato;
            color: white;
            width: 230px;
            margin-left: 35px;
            border-radius: 5px;
        }
    }
    .title{
        display: flex;
    }
    .tag{
        padding-left: 20px;
        opacity: 0.5;
        margin-bottom: 20px;

    }
    button{
        width:22px;
        height:22px;
        background-color: lightgrey;
        color:black;
        margin:5px;
        padding:0;
        border: none;
        cursor:pointer;
    }
    h3{
        margin-top: 2px;
        margin-left: 8px;
    }
}
.nopop{
    width: 300px;
    height: 100vh;
    border:lightgray 2px solid;
    border-radius: 5px;
    background-color:lightgrey;
    position: absolute;
    z-index: 9;
    margin-left: 555px;
    display: none;
}
.editPop{
    width: 300px;
    height: 100vh;
    border:lightgray 2px solid;
    border-radius: 5px;
    background-color:lightgrey;
    position: absolute;
    z-index: 9;
    margin-left: 555px;
}