.sidebar{
    display: flex;
     flex-direction: column;
     justify-items: center;
     align-items: center;
    div>ul{
        list-style: none;
        li{
            display: flex;
            padding: 10px;
            margin-left: -25px;
        }
    }
     img{
         padding-top: 20px;
         width: 40px;
         height:40px;
    }
}

// .sidebar{
//     margin: 15px;
//     margin-left: 5px;
//     background-color: white;
//     border: lightgrey 1px solid;
//     border-radius: 4px;
//     width:28%;
//     min-height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-items: center;
//     align-items: center;
//     img{
//         padding-top: 10px;
//         width: 40px;
//         height:40px;
//     }
//     ul{
//         display: flex;
//         flex-direction: column;
//         list-style: none;
   
//     li{
//         display: flex;
//         padding: 10px;
//         // padding-left: 0px;
       
//     }
//     }
    .current{
        border: lightcoral 2px solid;
        background-color:lightcoral;
        color:red;
       border-radius: 3px;
       margin-right: 20px;
       padding: 0 7px 0 7px;
       max-width:50vh;
    }
    .help{
        border: grey 1px solid;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width:120px;
        margin: 10px;
    }
    button{
        background-color: black;
        color: white;
        border-radius: 3px;
        margin-bottom: 15px;
    }
